* {
    box-sizing: border-box;
    margin: 0;
}


/* TEMPORAIRE */

img {
    width: 75%;
}

 :root {
    --primary-bg-yellow: hsl(39, 100%, 71%);
    --primary-bg-yellow-light: hsl(31, 66%, 93%);
    --primary-bg-purple: hsl(256, 67%, 59%);
    --primary-bg-purple-light: hsl(254, 88%, 90%);
    --primary-bg-white: hsl(0, 0%, 100%);
    --primary-g-black: hsl(0, 0%, 7%);
    --primary-body-color: #f5f5f5;
    --border-radius: 10px;
    --border: 2px solid rgb(233, 171, 88);
    --color: #d9480f;
}

body {
    min-height: 100vh;
    /* hauteur = toute la fenêtre */
    margin: 0;
    display: flex;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
    /* centre verticalement */
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background-color: var(--primary-body-color);
}

.wrapper>div {
    border-radius: var(--border-radius);
}

.wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centre verticalement */
}

.wrapper {
    width: auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 10px;
    gap: 20px;
    /* ← espace entre les items (fait apparaître le faux gap) */
}

.one {
    background-color: var(--primary-bg-yellow-light);
}

.one,
.six {
    grid-column: 1 / 1;
    grid-row: span 15;
}

.six {
    font-size: 40px;
    position: relative;
    padding: 20px 60px 20px 20px;
    color: black;
}

.six p {
    letter-spacing: -4px;
    line-height: 0.9em;
    text-align: left;
    font-weight: 500;
}

.six img {
    width: 86%;
    position: absolute;
    left: 20px;
    bottom: 22px;
}

.seven {
    /* centre horizontalement */
    align-items: center;
    /* centre verticalement */
}

.seven img {
    width: 75%;
}

.seven p {
    font-size: 45px;
    letter-spacing: -4px;
}

.seven span {
    margin-bottom: 30px;
}

h3 {
    letter-spacing: -1px;
}

.two,
.height {
    background-color: var(--primary-bg-purple);
}

.two {
    /* La ligne commence au début de la colonne 2 et finit à la fin de la colonne 3*/
    grid-column: 2 / 4;
    grid-row: span 12;
}

.three {
    /* La ligne commence au début de la colonne 4 et finit à la fin de la colonne 4*/
    grid-column: 4 / 5;
    grid-row: span 21;
    background-color: var(--primary-bg-purple-light);
}

.four {
    grid-column: 2 / 3;
}

.five {
    grid-column: 3 / 4;
}

.four,
.seven {
    background-color: var(--primary-bg-white);
}

.five,
.six {
    background-color: var(--primary-bg-yellow);
}

.four,
.five,
.seven,
.height {
    grid-row: span 9;
}

.seven {
    grid-column: 2 / 3;
}

.height {
    grid-column: 3 / 5;
}