* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-bg-color: rgba(233, 171, 88, 0.5);
    --border-radius: 5px;
    --border: 2px solid rgb(233, 171, 88);
    --color: #d9480f;
}

.wrapper>div {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-bg-color);
    color: var(--color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10px;
    width: 80%;
    margin: 0 auto;
    grid-gap: 30px;
}

.one,
.six {
    grid-column: 1 / 1;
    grid-row: span 11;
}

.two {
    /* La ligne commence au début de la colonne 2 et finit à la fin de la colonne 3*/
    grid-column: 2 / 4;
    grid-row: span 8;
}

.three {
    grid-row: span 15;
}

.four,
.five,
.seven {
    grid-row: span 7;
}

.seven {
    grid-column: 2 / 3;
}

.height {
    grid-column: 3 / 5;
    grid-row: span 7;
}