* {
    box-sizing: border-box;
    margin: 0;
}

 :root {
    --primary-bg-yellow: hsl(39, 100%, 71%);
    --primary-bg-yellow-light: hsl(31, 66%, 93%);
    --primary-bg-purple: hsl(256, 67%, 59%);
    --primary-bg-purple-light: hsl(254, 88%, 90%);
    --primary-bg-white: hsl(0, 0%, 100%);
    --primary-bg-black: hsl(0, 0%, 7%);
    --primary-body-color: #f5f5f5;
    --border-radius: 10px;
    --border: 2px solid rgb(233, 171, 88);
    --color: #d9480f;
}

body {
    min-height: 100vh;
    /* hauteur = toute la fenêtre */
    margin: 0;
    display: flex;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
    /* centre verticalement */
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-body-color);
}

.wrapper>div {
    border-radius: var(--border-radius);
}

.wrapper div {
    display: flex;
    flex-direction: column;
}

.wrapper div:not(.special),
.wrapper div:not(.three),
.wrapper div:not(.seven),
.wrapper div:not(.height) {
    padding: 25px 60px 20px 20px;
}

.wrapper div.special {
    padding: inherit;
}

.wrapper div.seven,
.wrapper div.height {
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper div.three {
    padding-left: 25px;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.three img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -200px;
    width: 220%;
}

.height img {
    width: 45%;
}

.four {
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.four img {
    width: 170%;
}

.five {
    position: relative;
    overflow: hidden;
}

.five img {
    width: 210px;
    /* largeur de base 250px, img = 210px (20px x2 (padding) pour centrer au milieu) */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper div:last-child {
    flex-direction: inherit;
}

.wrapper {
    width: auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 10px;
    gap: 20px;
    /* ← espace entre les items (fait apparaître le faux gap) */
}


/* LINE-HEIGHT*/

.wrapper div p:not(.seven) {
    line-height: 0.9em;
}


/* FONT WEIGHT */

.wrapper div p:first-child,
.wrapper div.four p {
    font-weight: 500;
}


/* FONT SIZE, LETTER SPACING */

.one p,
.six p,
.height p {
    font-size: 40px;
}

.two p,
.seven p {
    font-size: 55px;
}

.three p:first-child,
.four p,
.five p {
    font-size: 30px;
    letter-spacing: -2px;
}

.height p {
    letter-spacing: -2px;
}

.two p:last-child,
.three p:last-child,
.seven p:last-child {
    font-size: 18px;
}

.one p,
.six p {
    letter-spacing: -4px;
}

.one {
    background-color: var(--primary-bg-yellow-light);
}

.one,
.six {
    grid-column: 1 / 1;
    grid-row: span 15;
}

.six {
    position: relative;
    color: var(--primary-bg-black);
}

.one p em {
    color: var(--primary-bg-purple);
}

.one {
    color: var(--primary-bg-black);
    justify-content: center;
}

.one p {
    margin-bottom: 20px;
}

.one img {
    width: 210px;
}

.six img {
    /* largeur du contenur 250px, padding 20px + 25px = 45px. 215px + 45px = 260px (décalage de la fleche) */
    width: 215px;
    position: absolute;
    left: 20px;
    bottom: 22px;
}

.seven {
    /* centre horizontalement */
    align-items: start;
    /* centre verticalement */
    justify-content: center;
}

.seven img {
    width: 75%;
}

.seven span {
    margin-bottom: 30px;
}

.two,
.height {
    background-color: var(--primary-bg-purple);
}

.two {
    /* La ligne commence au début de la colonne 2 et finit à la fin de la colonne 3*/
    grid-column: 2 / 4;
    grid-row: span 12;
    justify-content: center;
    align-items: center;
    color: var(--primary-bg-white);
    padding: 20px 20px 20px 20px;
}

.two p:first-child {
    text-align: center;
    margin-bottom: 20px;
}

.yellow {
    color: var(--primary-bg-yellow);
}

.two img {
    width: 40%;
    margin-bottom: 10px;
}

.three {
    /* La ligne commence au début de la colonne 4 et finit à la fin de la colonne 4*/
    grid-column: 4 / 5;
    grid-row: span 21;
    background-color: var(--primary-bg-purple-light);
}

.four {
    grid-column: 2 / 3;
}

.five {
    grid-column: 3 / 4;
}

.four,
.seven {
    background-color: var(--primary-bg-white);
}

.five,
.six {
    background-color: var(--primary-bg-yellow);
}

.four,
.five,
.seven,
.height {
    grid-row: span 9;
}

.seven {
    grid-column: 2 / 3;
}

.height {
    grid-column: 3 / 5;
    color: var(--primary-bg-white);
    align-items: center;
}