* {
    box-sizing: border-box;
    margin: 0;
}

 :root {
    --primary-bg-yellow: hsl(39, 100%, 71%);
    --primary-bg-yellow-light: hsl(31, 66%, 93%);
    --primary-bg-purple: hsl(256, 67%, 59%);
    --primary-bg-purple-light: hsl(254, 88%, 90%);
    --primary-bg-white: hsl(0, 0%, 100%);
    --primary-bg-black: hsl(0, 0%, 7%);
    --primary-body-color: #f5f5f5;
    --border-radius: 10px;
    --border: 2px solid rgb(233, 171, 88);
    --color: #d9480f;
}


/* BODY LAYOUT */

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-body-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* GRID POSITION*/

.wrapper {
    width: auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 9px;
    gap: 20px;
    /* ← espace entre les items (fait apparaître le faux gap) */
}

.four,
.five,
.seven,
.height {
    grid-row: span 9;
}

.two {
    /* La ligne commence au début de la colonne 2 et finit à la fin de la colonne 3*/
    grid-column: 2 / 4;
    grid-row: span 12;
}

.three {
    /* La ligne commence au début de la colonne 4 et finit à la fin de la colonne 4*/
    grid-column: 4 / 5;
    grid-row: span 21;
}

.four {
    grid-column: 2 / 3;
}

.five {
    grid-column: 3 / 4;
}

.seven {
    grid-column: 2 / 3;
}

.height {
    grid-column: 3 / 5;
}

.one,
.six {
    grid-column: 1 / 1;
    grid-row: span 15;
}

.three,
.four,
.five,
.six {
    position: relative;
    overflow: hidden;
}


/* INTERNAL LAYOUT (flex, padding) */

.wrapper>div {
    display: flex;
    padding: 32px;
    border-radius: var(--border-radius);
}

.wrapper>div:not(.height) {
    flex-direction: column;
}

.one,
.two,
.three,
.seven {
    justify-content: center;
}

.four {
    justify-content: space-around;
}

.six {
    justify-content: space-between;
}

.two,
.height {
    align-items: center;
}


/* IMAGE RULES */

.one img {
    width: auto;
}

.two img {
    width: 35%;
    margin-bottom: 10px;
}

.three img {
    width: 180%;
    margin: 30px 0;
}

.four img {
    width: 170%;
}

.five img {
    width: auto;
    margin-top: 20px;
}

.six img {
    width: auto;
}

.seven img {
    width: auto;
}

.height img {
    width: 45%;
}


/* TYPOGRAPY*/

.wrapper p {
    line-height: 0.9em;
}

.seven p {
    line-height: normal;
}

.wrapper div p:first-child,
.wrapper div.four p {
    font-weight: 500;
}

.one p,
.six p,
.height p {
    font-size: 40px;
}

.two p,
.seven p {
    font-size: 55px;
}

.three p:first-child,
.four p,
.five p {
    font-size: 30px;
    letter-spacing: -2px;
}

.two p:last-child,
.three p:last-child,
.seven p:last-child {
    font-size: 18px;
}

.one p,
.six p {
    letter-spacing: -4px;
}

.height p {
    letter-spacing: -2px;
}


/* COLOR & BACKGROUND-COLOR*/

.one {
    background-color: var(--primary-bg-yellow-light);
}

.two,
.height {
    background-color: var(--primary-bg-purple);
}

.three {
    background-color: var(--primary-bg-purple-light);
}

.four,
.seven {
    background-color: var(--primary-bg-white);
}

.five,
.six {
    background-color: var(--primary-bg-yellow);
}

.six,
.one {
    color: var(--primary-bg-black);
}

.one p em {
    color: var(--primary-bg-purple);
}

.two,
.height {
    color: var(--primary-bg-white);
}

.yellow {
    color: var(--primary-bg-yellow);
}

.one p,
.two p:first-child {
    margin-bottom: 20px;
}

.seven span {
    margin-bottom: 30px;
}

.two p:first-child {
    text-align: center;
}

@media (max-width:768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}